@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Overlock&family=Quicksand&family=Thasadith:wght@700&display=swap');

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: "Quicksand";
    width: 100vw;
    height: 200vh;
 
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

/* Comienza header */

.contenedor-header {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

.contenedor-icono-header {
    margin-left: 150px;
}

#icono-header {
    font-size: 23px;
}

.contenedor-header > div {
    flex-basis: 150px;
}

.view-btn, .fa-shopping-cart {
    font-size: 20px;
    color: #000;
    padding: 0;
    margin-left: 15px;
}

/* Fin header */

/* Comienza seccion principal */

.contenedor-imagen-principal {
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/ACCESORIES\ \(1\).png);
    flex: 1;
    opacity: .7;
    position: relative;
}

.texto-imagen-principal {
    position: absolute;
    font-size: 50px;
    position: relative;
    color: white;
    font-family: "Dancing script";
}

.contenedor-seccion-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-principal {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
}

/* Fin sección principal */

/* Comienzo modales, checkout y secciones del carrito */

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1;
}

.overlay-cuadro-vaciar {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 9999;
}

#abrir-carrito {
    margin-right: 150px;
    font-family: "Quicksand";
    font-size: 15px;
    width: 200px;
}

.carrito {
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 40px 20px;
    right: 0;
    top: 0;
    background-color: #fff;
    color: black;
    font-family: "Quicksand";
    position: fixed;
    transform: translate(100%);
    z-index: 5000;
    transition: 0.5s;
}

.fa-times {
    font-size: 25px;
}

.productos-carrito-1-y-2 {
    overflow: scroll;
}

.carrito-cruz {
    display: flex;
    justify-content: space-between;
}

.titulo-carrito {
    margin: 0;
}

.imagen-producto-carrito {
    width: 100%;
}

.contenedor-imagen-producto-carrito {
    height: 150px;
    width: 150px;
    margin-right: 40px;
}

.producto-carrito {
    display: flex;  
}

.linea-divisoria {
    border-bottom: 1px solid #dedede;
}

.info-producto-carrito {
    display: flex;
    padding-top: 25px;
    padding-bottom: 10px;
}

.info-productos-carrito {
    flex: 1;
}

.cantidad-producto-carrito {
    width: 50px;
    height: 30px;
    font-weight: 600;
    text-align: center;
}

.info-producto-carrito-2 {
    display: flex;
    flex: 1;
    align-items: center;
}

.tacho-carrito {
    font-size: 20px;
    color: red;
}

.producto-carrito-2 {
    margin-top: 20px;
}

.subtotal {
    margin-top: 50px;
    font-size: 20px;
}

#boton-comprar {
    background-color: rgb(42, 170, 42);
    color: #fff;
    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;
    margin-top: 30px;
}

#boton-comprar:hover {
    background-color: rgb(30, 121, 30);
}

#boton-vaciar {
    border: 1px solid red;
    color: red;
    background-color: #fff;
    width: 100%;
    min-height: 50px;
}

#boton-vaciar:hover {
    background-color: red;
    color:#fff;
}

/* Checkout */

.overlay-cuadro-comprar {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.cuadro-comprar {
    background-color: #fff;
    padding: 40px;
    max-width: 700px;
    position: absolute;
    left: 25%;
    right: 25%;
    width: 100%;
    background: #fff;
    z-index:1002;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.linea-divisoria-cuadro-comprar {
    border-bottom: 1px solid #dedede;
    max-width: 400px;
}

.input-ingresar-datos-personales-1 {
    margin-bottom: 60px;
}

.titulo-cuadro-comprar {
    margin: 0;
}

#ingresar-nombre-completo, #ingresar-email {
    cursor: text;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Quicksand";
    height: 35px;
    line-height: 35px;
    width: 100%;
    max-width: 250px;
}

.contenedor-datos-personales {
    min-width: 300px;
}

.resumen-y-contenedor-datos-personales-y-pago {
    display: flex;
}

.contenedor-botones-opciones-pago {
    display: flex;
    flex-direction: column;
}

.contenedor-datos-personales-y-pago {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contenedor-recargos-subtotales {
    min-height: 250px;
}

.resumen {
    background: #f5f5f5;
    border-radius: 5px;
    min-width: 300px;
    padding: 20px;
    margin: 20px;
}

.boton-enviar-formulario {
    background-color: rgb(42, 170, 42);
    color: #fff;
    width: 200px;
    min-height: 50px;
    border: 0;
    border-radius: 5px;
    font-family: "Quicksand";
    margin-left: 20px;
}

.boton-enviar-formulario:hover {
    background-color: rgb(30, 121, 30);
}

.botones-footer-cuadro-comprar {
    padding: 40px 10px 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
}

.contenedor-subtotal, .contenedor-total, .contenedor-recargo, .contenedor-delivery, .contenedor-giftcard {
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}

.giftcard-opciones-pago, .giftcard-precio-opciones-pago {
    color: rgb(56, 187, 56);
    font-weight: 600;
}

.delivery-opciones-pago, .delivery-precio-opciones-pago {
    font-weight: 600;
}

.recargo-opciones-pago, .recargo-precio-opciones-pago {
    color: red;
    font-weight: 600;
}

.subtotal-opciones-pago, .subtotal-precio-opciones-pago{
    font-weight: 600;
}

.total-opciones-pago, .total-precio-opciones-pago {
    font-size: 28px;
    font-weight: 800;
}
    
.cuadro-vaciar {
    background-color: #fff;
    padding: 40px;
    max-width: 400px;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    background: #fff;
    z-index:1002;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.titulo-cuadro-vaciar {
    text-align: center;
}

.boton-rojo-cuadro-vaciar {
    background-color: red;
    color: #fff;
    width: 200px;
    min-height: 50px;
    border: 0;
    border-radius: 5px;
    font-family: "Quicksand";
    margin-left: 20px;
}

.boton-rojo-cuadro-vaciar:hover {
    background-color: rgb(211, 21, 21);
}

.boton-gris-cuadro-vaciar {
    background-color: #f5f5f5;
    color: black;
    width: 200px;
    min-height: 50px;
    border: 0;
    border-radius: 5px;
    font-family: "Quicksand";
}

.boton-gris-cuadro-vaciar:hover {
    background-color: rgba(185, 182, 182, 0.521);
}

.boton-gris-cuadro-seguir {
    background-color: #f5f5f5;
    color: black;
    width: 200px;
    min-height: 50px;
    border: 0;
    border-radius: 5px;
    font-family: "Quicksand";
}

.boton-gris-cuadro-seguir:hover {
    background-color: rgba(185, 182, 182, 0.521);
}

.contenedor-botones-cuadro-vaciar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Fin modales, checkout y secciones del carrito */


/* Comienzo aside */

.seccion-aside {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-top: 50px;
}

.contenedor-botones-aside-1 {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    margin: 5px;
}

.filters-clear-btn {
    font-family: "Quicksand";
}

button, input, label {
    cursor: pointer;
}

.contenedor-botones-aside-2 {
    background-color: #f5f5f5;
    margin: 5px;
}

#buscar-productos {
    cursor: text;
    border: none;
    padding: 13px;
    border-bottom: 2px solid black;
    font-family: "Quicksand";
    background-color: #f5f5f5;
}

.contenedor-busqueda {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.fas.fa-search {
    position: relative;
    right: 25px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.contenedor-botones-aside-3 {
    background-color: #f5f5f5;
    margin: 5px;    
}

.fa-star {
    color: #fbc02d;
}

.contenedor-botones-aside-4 {
    background-color: #f5f5f5;
    margin: 5px;
}

/* Fin aside */

/* Comienzo barra principal y productos */

.seccion-productos {
    background-color: #f5f5f5;
    width: 1000px;
}

.contenedor-barra-principal-productos {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px 10px;
    padding: 20px 30px;
}

.view-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.fa, .fas {
    font-weight: 900;
}

.contenedor-seccion-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.producto {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    margin: 10px;
}

.productos-lista-flex {
    display: flex;
    text-align: left;
}

.boton-lista {
    max-width: 200px;
}

.contenedor-producto {
    flex: 1;
    margin: 50px;
}

.lista {
    flex-direction: column;
}

.producto:hover {
    box-shadow: 0 0px 10px 0 rgba(185, 182, 182, 0.521),0 6px 10px 0 rgba(146, 144, 144, 0.19)
  }

.product-img-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.product-img {
    width: 100%;
    margin: 0;
    height: auto;
}

.product-img:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    opacity: .70;
    transition: 0.5s;
}

.product-name, .product-price {
    margin: 5px;
}


.boton-agregar-carrito {
    width: 100%;
    height: 40px;
}

.button-default {
    background-color: rgba(248, 248, 248, 0.897);
    color: black;
}

.button {
    width: 100%;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Quicksand";
}

.button:hover {
    background-color: #e9e7e7;
}


/* Fin barra principal y productos */

  
/* Comienza footer */
 
.footer-tienda {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    font-family: 'Quicksand';
    width: 100%;
}

ul {
    padding: 0;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.links-redes {
    display: flex;
}

.ícono-redes {
    display: block;
    margin: 12px;
}

.fab:hover {
    font-size: 20px;
}

.fa-github, .fa-linkedin, .fa-envelope {
    font-size: 17px;
    color: rgba(54, 53, 53, 0.19);
}

.fa-paw {
    color: #fb3570c9;
    font-size: 14px;
}

.última-frase-footer {
    font-size: 16px;
    text-align: center;
    margin: 0;
}


/* Clases para JS y Responsive */

.boton-responsive-filtro {
    display: none;
}

.no-mostrar {
    display: none;
}

.no-mostrar-producto {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.mostrar-carrito {
    transform: translate(0);
}

.mostrar-cuadros {
    display: flex;
}


/* Responsive */


@media (max-width: 576px) {
    

    .seccion-aside {
        display: none;
    }

    
    .boton-responsive-filtro {
        display: flex;
    }

    .view-buttons {
        display: none;
    }

    .boton-filtro {
        display: flex;
    }

    .fa-filter {
        margin: 0;
        padding: 0;
    }

    .texto-filters-responsive {
        font-family: "Quicksand";
        font-size: 16px;
        margin: 0;
    }

    #seccion-aside-mostrada {
        display: none;
    }

    .contenedor-barra-principal-productos {
        flex-grow: 1;
        width: 100vw;

    }

    .producto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        flex-grow: 1;
        width: 100vw;
        
    }

    .boton-agregar-carrito {
        width: 100%;
        min-width: 300px;
    }

    .overlay-seccion-aside-responsive {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        
    }
    
    .seccion-aside-responsive {
        width: 100%;
        height: 100%;
        max-width: 270px;
        padding: 40px 20px;
        right: 0;
        top: 0;
        background-color: #fff;
        color: black;
        font-family: "Quicksand";
        position: fixed;
        transform: translate(100%);
        z-index: 500;
        transition: 0.5s;
        margin: 0;
    }

    .boton-busqueda {
        background-color: #fff;
    }

    .contenedor-botones-aside-responsive-1 {
        display: flex;
        justify-content: space-between;
        
        margin: 5px;
    }

    .contenedor-icono-header {
        margin: 10px;
        
    }

    #abrir-carrito {
        margin: 10px;
    }

    .cuadro-vaciar {
        width: 100vw;
        left: 0;
        right: 0;
        height: 100vh;
        top: 0;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuadro-comprar {
        left: 0;
        right: 0;
        max-width: 100%;
        position: initial;
        width: 100vh;
        height: 100vh;
    }

    .resumen-y-contenedor-datos-personales-y-pago {
        display: inline-block;
    }

    .botones-footer-cuadro-comprar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 0;
        margin: 30px;
    }

    .boton-gris-cuadro-seguir {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }
    
    .boton-enviar-formulario {
        padding: 0;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .formulario-enviar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boton-gris-cuadro-vaciar, .boton-rojo-cuadro-vaciar {
        width: 150px;
    }

    .botones-footer-cuadro-comprar {
        padding: 0;
        margin: 0;
    }

   
    #buscar-productos-responsive {
        cursor: text;
        border: none;
        padding: 13px;
        border-bottom: 2px solid black;
        font-family: "Quicksand";
        background-color: #fff;
    }

    .mostrar-seccion-aside-responsive {
        transform: translate(0);
    }

    .no-mostrar {
        display: none;
    }

    .contenedor-boton-cerrar-aside-responsive {
        display: flex;
        justify-content: flex-end;
    }
    
}


@media (min-width: 577px) and (max-width: 767.98px) {

    .contenedor-boton-cerrar-aside-responsive {
        display: flex;
        justify-content: flex-end;
    }


    .cuadro-comprar {
        width: 100%;
        height: 100%;
        padding: 40px 20px;
        right: 0;
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        position: fixed;
        transform: translate(50%);
        z-index: 500;
        margin: 0;
   
    }

    .resumen {
        max-width: 300px;
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .resumen-y-contenedor-datos-personales-y-pago {
        display: inline-block;
    }

    .botones-footer-cuadro-comprar {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        margin-top: 30px;
    }

    .boton-gris-cuadro-seguir {
        width: 150px;
        padding: 0;
        margin: 0;
    
    }
    
    .boton-enviar-formulario {
        padding: 0;
        width: 150px;
        margin: 0;
        margin-left: 10px;
  
    }

    .formulario-enviar {
  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boton-gris-cuadro-vaciar, .boton-rojo-cuadro-vaciar {
        width: 150px;
    }

    .contenedor-botones-aside-responsive-1 {
        display: flex;
        justify-content: space-between;
    }

    .cuadro-vaciar {
        width: 100%;
        height: 100%;
        max-width: 400px;
        padding: 40px 20px;
        right: 0;
        top: 0;
        background-color: #fff;
        color: black;
        font-family: "Quicksand";
        position: fixed;
        transform: translate(10%);
        z-index: 5000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay-seccion-aside-responsive {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        
    }

    .contenedor-botones-aside-responsive-1 {
        display: flex;
        justify-content: space-between;
        
        margin: 5px;
    }

    .contenedor-icono-header {
        margin: 10px;
        
    }

    #abrir-carrito {
        margin: 10px;
    }

    .seccion-aside-responsive {
        width: 100%;
        height: 100%;
        max-width: 270px;
        padding: 40px 20px;
        right: 0;
        top: 0;
        background-color: #fff;
        color: black;
        font-family: "Quicksand";
        position: fixed;
        transform: translate(100%);
        z-index: 500;
        transition: 0.5s;
        margin: 0;
    }

    .producto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        
    }


    .boton-gris-cuadro-vaciar, .boton-rojo-cuadro-vaciar {
        width: 150px;
    }

    .seccion-aside {
        display: none;
    }

    .boton-responsive-filtro {
        display: flex;
    }

    .view-buttons {
        display: none;
    }

    .boton-filtro {
        display: flex;
    }

    .fa-filter {
        margin: 0;
        padding: 0;
    }

    .texto-filters-responsive {
        font-family: "Quicksand";
        font-size: 16px;
        margin: 0;
    }

    
    #buscar-productos-responsive {
        cursor: text;
        border: none;
        padding: 13px;
        border-bottom: 2px solid black;
        font-family: "Quicksand";
        background-color: #fff;
    }

    .mostrar-seccion-aside-responsive {
        transform: translate(0);
    }

    .no-mostrar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .seccion-aside-responsive {
        display: none;
    }

    .cuadro-comprar {
        width: 100%;
        height: 100%;
        padding: 40px 20px;
        right: 0;
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        background-color: #fff;
        color: black;
        font-family: "Quicksand";
        position: fixed;
        transform: translate(50%);
        z-index: 500;
        margin: 0;
    }

    .resumen {
        max-width: 300px;
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;
    }

    .resumen-y-contenedor-datos-personales-y-pago {
        display: inline-block;
    }

    .botones-footer-cuadro-comprar {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        margin-top: 30px;
        margin-left: 20px;
    }

    .boton-gris-cuadro-seguir {
        width: 150px;
        padding: 0;
        margin: 0;
    
    }
    
    .boton-enviar-formulario {
        padding: 0;
        width: 150px;
        margin: 0;
        margin-left: 10px;
  
    }

    .formulario-enviar {
  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

}

@media (min-width: 992px) {

    .seccion-aside-responsive {
        display: none;
    }
}


/* Fin responsive */