@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Overlock&family=Quicksand&family=Thasadith:wght@700&display=swap');

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: "Quicksand";
    width: 100vw;
    height: 200vh;
}

.contenedor-header {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

#contenedor-icono-header {
    margin-left: 150px;
}


#icono-header {
    font-size: 23px;
}

.contenedor-header > div {
    background-color: #f5f5f5;
    flex-basis: 150px;
}

.contenedor-imagen-principal {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/ACCESORIES\ \(1\).png);
    flex: 1;
    opacity: .7;
}

.contenedor-seccion-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-principal {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

#abrir-carrito {
    margin-right: 150px;
}

.carrito {
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 40px 20px;
    right: 0;
    top: 0;
    background-color: #fff;
    color: black;
    font-family: "Quicksand";
    position: fixed;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.seccion-aside {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-top: 50px;
}

.seccion-productos {
    background-color: #f5f5f5;
    width: 1000px;
}

.contenedor-botones-aside-1 {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    margin: 5px;
}

.filters-clear-btn {
    font-family: "Quicksand";
}


button, input, label {
    cursor: pointer;
}

.contenedor-botones-aside-2 {
    background-color: #f5f5f5;
    margin: 5px;
}

#buscar-productos {
    cursor: text;
    border: none;
    padding: 13px;
    border-bottom: 2px solid black;
    background-color: #f5f5f5;
    font-family: "Quicksand";
}

.contenedor-busqueda {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.fas.fa-search {
    position: relative;
    right: 25px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.contenedor-botones-aside-3 {
    background-color: #f5f5f5;
    margin: 5px;    
}

.fa-star {
    color: #fbc02d;
}

.contenedor-botones-aside-4 {
    background-color: #f5f5f5;
    margin: 5px;
}

.contenedor-barra-principal-productos {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px 10px;
    padding: 20px 30px;
}


.view-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.view-btn {
    font-size: 20px;
    color: #000;
    padding: 0;
    margin-left: 15px;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.fa, .fas {
    font-weight: 900;
}

.contenedor-seccion-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.producto {
   background-color: #fff;
    padding: 30px;
    text-align: center;
    margin: 10px;
}

.producto:hover {
    box-shadow: 0 0px 10px 0 rgba(185, 182, 182, 0.521),0 6px 10px 0 rgba(146, 144, 144, 0.19)
  }


.product-img-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
}
  
.product-img {
    height: 100%;
    margin: 0;
}

.product-img:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    opacity: .70;
}

.product-name, .product-price {
    margin: 5px;
}


.add-to-cart-btn {
    width: 100%;
    height: 40px;
}

.button-default {
    background-color: rgba(248, 248, 248, 0.897);
    color: black;
}

.button {
    width: 100%;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Quicksand";
}

.button:hover {
    background-color: #e9e7e7;
}
  
/* Comienza footer */
 
footer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    font-family: 'Quicksand';
    width: 100%;
}

ul {
    padding: 0;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.links-redes {
    display: flex;
}

.ícono-redes {
    display: block;
    margin: 8px;
}

.fab:hover {
    font-size: 20px;
}

.fa-github, .fa-linkedin, .fa-envelope {
    font-size: 17px;
    color: rgba(54, 53, 53, 0.19);
}

.fa-paw {
    color: #fb3570c9;
    font-size: 14px;
}

.última-frase-footer {
    font-size: 16px;
    text-align: center;
    margin: 0;
}



/* Clase para JS */

.no-mostrar {
    display: none;
}



/* Responsive */


@media (max-width: 651px) {
    
}


@media (max-width: 900px) and (min-width: 650px) {

}